<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<script src="~/Content/Javascript/jquery-1.8.3.min.js"></script>
	<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function ()
		{
			$("h2").tooltip({ placement: "bottom" });
		});
	</script>
</head>
<body>
	<div id="main">
		<div class="container">
			<div class="hero-unit">
				<h1>Project Mia</h1>
				<p>This time next year Rodney, we'll be millionaires.</p>
				<ul class="nav nav-pills">
					<li class="active">@Html.ActionLink("Home", "Index")</li>
					<li class="active">@Html.ActionLink("Quotes for Players", "QuoteHistoryForPlayers")</li>
					<li class="active">@Html.ActionLink("Quote history", "QuoteHistory")</li>
				</ul>
			</div>
	
			@RenderBody()
		</div>
	</div>
</body>
</html>
